body {
	background-color: #f8f8f8;
}

a:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    width: 99%;
    min-height: 678px;
}

.header {
    border: 1px solid #304860;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: gainsboro;
}

.header img {
    display: inline-block;
    width: 14%;
    height: 63px;
    float: left;
    vertical-align: middle;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
    vertical-align: middle;
}

.menu {
    background-color: gainsboro;
    overflow: hidden;
    border-left: 1px solid #304860;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.menu ul {
    margin: 0;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    padding-left: 0;
    padding-right: 0;
}

.menu ul li {
	display: inline-block;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 7.4%;
    margin-right: 6%;
}

.menu ul li :hover {
    color: dodgerblue;
}

.menu ul li a {
	color: #484343;
	font-family: Lucida Sans Unicode;
	font-size: 20px;
	letter-spacing: 2px;
}

hr {
    margin: 0;
    padding: 0;
	border: none;
	border-bottom: 1.5px solid;
	border-bottom-color: #304860;
}

.product_img {
    outline-style: outset;
    outline-color: #304860;
    outline-width: 2px;
    width: 30%;
    float: left;
    margin-right: 10px;
}

.product_img:hover {
    outline: none;
}

h3 {
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
    border-bottom: 1px solid #707070;
}

.short_desc,
.full_desc,
.composition,
.chars_table {
    width: 30%;
}

.short_desc p {
	color: #707070;
	font-style: italic;
	font-size: 14px;
	line-height: 16px;
}

.buy_button {
    clear: both;
    padding-top: 10px;
}

.buy_button input {
    height: 40px;
    width: 267px;
    background-color: #018849;
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.buy_button input:hover {
    background-color: darkgreen;
}

.full_desc p, .composition p {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.chars_table {
    clear: both;
}

.chars_table table {
	font-size: 16px;
    border-collapse: collapse;
}

.chars_table table tr {
    background-color: #eaeaea;
}

.chars_table table tr td {
    border-bottom: 1px solid #707070;
}

td[name="char_name"] {
    padding-right: 10px;
    width: 180px;
    text-align: end;
}

.chars_table table tr td i {
	color: #304860;
}

.products {
	display: inline-block;
	margin-left: 90px;
}

.products li a {
    color: #484343;
}

.products li a:hover {
    color: darkcyan;
}

.products img {
    outline-style: outset;
    outline-color: #304860;
    outline-width: 2px;
    height: 230px;
    width: 160px;
}

.products img:hover {
    outline-width: 3px;
}

fieldset {
	padding-top: 15px;
	border: 2px solid #304860;
	display: inline-block;
	size: 100;
}

input[placeholder="Имя пользователя"], input[placeholder="Email"], input[placeholder="Тема"] {
	border: 1px solid;
    font-family: sans-serif;
    font-style: oblique;
	line-height: 16px;
	padding-left: 2px;
}

::-webkit-input-placeholder  {color: grey; font-style: oblique;}
::-moz-placeholder           {color: grey; font-style: oblique;}/* Firefox 19+ */
::-moz-placeholder           {color: grey; font-style: oblique;}/* Firefox 18- */
::-ms-input-placeholder      {color: grey; font-style: oblique;}


.content {
    padding-top: 10px;
}

.product_info {
    margin: 0 auto;
    padding-left: 40%;
}

.product_info * {
    overflow: hidden;
}

.product_info p::first-letter {
    font-size: 24px;
    color: cadetblue;
}

.title {
    text-align: center;
    color: #484343;
}

.title_p {
    text-align: center;
}

h1[name="title"] {
    color: #484343;
}

.title h1 {
    padding-bottom: 7%;
}
    
.footer {
    height: 60px;
    margin-top: -60px;
    background-color: gainsboro;
}

.footer p {    
	color: #484343;
    text-align: right;
    padding-top: 0.5%;
    padding-right: 2%;
}

.reg_form {
    padding-left: 39.5%;
}

.hw_table {
    border-collapse: collapse;
    border: 1px solid;
}

.hw_table tr td {
    text-align: center;
    border: 1px solid;
    width: 20px;
    height: 20px;
}

.hw_table tr[name="top"] {
    height: 60px;
}

.fix {
    content: "";
    display: block;
    clear: both;
    height: 60px;
}

.content textarea {
    resize: vertical;
}